USE [master]
GO
DROP DATABASE IF EXISTS [QLHV]
GO
/****** Object:  Database [QLHV]    Script Date: 17/01/2025 8:57:20 AM ******/
CREATE DATABASE [QLHV] CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHV]
GO
/****** Object:  User [SinhVien]    Script Date: 17/01/2025 8:57:20 AM ******/
CREATE USER [SinhVien] FOR LOGIN [User2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GiaoVien]    Script Date: 17/01/2025 8:57:20 AM ******/
CREATE USER [GiaoVien] FOR LOGIN [USer1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [GiaoVien]    Script Date: 17/01/2025 8:57:20 AM ******/
CREATE SCHEMA [GiaoVien]
GO
/****** Object:  Schema [HeThong]    Script Date: 17/01/2025 8:57:20 AM ******/
CREATE SCHEMA [HeThong]
GO
/****** Object:  Schema [SinhVien]    Script Date: 17/01/2025 8:57:20 AM ******/
CREATE SCHEMA [SinhVien]
GO
/****** Object:  UserDefinedTableType [dbo].[CT_MonHoc]    Script Date: 17/01/2025 8:57:20 AM ******/
CREATE TYPE [dbo].[CT_MonHoc] AS TABLE(
	[MaMH] [char](5) NULL,
	[TenMH] [nvarchar](30) NOT NULL,
	[MaCBPhuTrach] [int] NULL,
	UNIQUE NONCLUSTERED 
(
	[MaMH] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  UserDefinedFunction [dbo].[f_CountMH]    Script Date: 17/01/2025 8:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[f_CountMH]
(
	@MaMH CHAR(5)
)
RETURNS int
BEGIN
	DECLARE @SoLuong int

	SELECT @SoLuong = Count(*)
	FROM [dbo].[DangKy]
	WHERE [MaMH] = @MaMH
					
	RETURN @SoLuong
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_SoLuongDangKy]    Script Date: 17/01/2025 8:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_SoLuongDangKy]
()
RETURNS @KetQua TABLE(MaMonHoc char(5), SoLuong int)
AS
BEGIN
	INSERT @KetQua
	SELECT MaMH, COUNT(*)
	FROM [dbo].[DangKy]
	GROUP BY [MaMH]
	RETURN
END
GO
/****** Object:  Table [dbo].[BoMon]    Script Date: 17/01/2025 8:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoMon](
	[MaBM] [int] IDENTITY(1,2) NOT NULL,
	[MaCBQuanLy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 17/01/2025 8:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DangKy](
	[MaSV] [char](7) NOT NULL,
	[MaMH] [char](5) NOT NULL,
	[NgayDangKy] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 17/01/2025 8:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [char](5) NOT NULL,
	[TenMH] [nvarchar](30) NOT NULL,
	[MaCBPhuTrach] [int] NOT NULL,
	[SiSo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GiaoVien].[CanBo]    Script Date: 17/01/2025 8:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GiaoVien].[CanBo](
	[MaCB] [int] IDENTITY(1,2) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[DienThoai] [char](10) NOT NULL,
	[MaBM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SinhVien].[SinhVien]    Script Date: 17/01/2025 8:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SinhVien].[SinhVien](
	[MaSV] [char](7) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[CMND] [char](9) NOT NULL,
	[DiemTB] [float] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[F_SV_TheoDiem]    Script Date: 17/01/2025 8:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_SV_TheoDiem]
(@LocDiem float)
RETURNS Table
AS
	RETURN (SELECT * FROM [SinhVien].[SinhVien] WHERE [DiemTB] > @LocDiem)

GO
SET IDENTITY_INSERT [dbo].[BoMon] ON 

INSERT [dbo].[BoMon] ([MaBM], [MaCBQuanLy]) VALUES (1, 1)
INSERT [dbo].[BoMon] ([MaBM], [MaCBQuanLy]) VALUES (3, 2)
INSERT [dbo].[BoMon] ([MaBM], [MaCBQuanLy]) VALUES (5, 3)
SET IDENTITY_INSERT [dbo].[BoMon] OFF
INSERT [dbo].[DangKy] ([MaSV], [MaMH], [NgayDangKy]) VALUES (N'1      ', N'IT2  ', CAST(N'2025-01-16 21:16:24.790' AS DateTime))
INSERT [dbo].[DangKy] ([MaSV], [MaMH], [NgayDangKy]) VALUES (N'1      ', N'IT4  ', CAST(N'2025-01-16 21:18:11.740' AS DateTime))
INSERT [dbo].[DangKy] ([MaSV], [MaMH], [NgayDangKy]) VALUES (N'3      ', N'IT2  ', CAST(N'2025-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [MaCBPhuTrach], [SiSo]) VALUES (N'IT1  ', N'Mang MT', 1, 80)
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [MaCBPhuTrach], [SiSo]) VALUES (N'IT2  ', N'CTDL', 5, 45)
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [MaCBPhuTrach], [SiSo]) VALUES (N'IT3  ', N'HQT', 7, 45)
SET IDENTITY_INSERT [GiaoVien].[CanBo] ON 

INSERT [GiaoVien].[CanBo] ([MaCB], [HoTen], [NgaySinh], [DienThoai], [MaBM]) VALUES (1, N'Lan', CAST(N'1999-01-01 00:00:00.000' AS DateTime), N'1234578   ', 1)
INSERT [GiaoVien].[CanBo] ([MaCB], [HoTen], [NgaySinh], [DienThoai], [MaBM]) VALUES (5, N'Mai', CAST(N'1978-02-01 00:00:00.000' AS DateTime), N'01234567  ', 3)
INSERT [GiaoVien].[CanBo] ([MaCB], [HoTen], [NgaySinh], [DienThoai], [MaBM]) VALUES (7, N'Nam', CAST(N'1987-02-02 00:00:00.000' AS DateTime), N'02134567  ', 5)
SET IDENTITY_INSERT [GiaoVien].[CanBo] OFF
INSERT [SinhVien].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [CMND], [DiemTB]) VALUES (N'1      ', N'Nhan', CAST(N'2000-01-01 00:00:00.000' AS DateTime), N'12345678 ', 6)
INSERT [SinhVien].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [CMND], [DiemTB]) VALUES (N'2      ', N'Anh', CAST(N'2002-02-01 00:00:00.000' AS DateTime), N'32134566 ', 7)
INSERT [SinhVien].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [CMND], [DiemTB]) VALUES (N'3      ', N'Nam', CAST(N'2003-02-03 00:00:00.000' AS DateTime), N'21345678 ', 5)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__CanBo__1F031876F7CDF49F]    Script Date: 17/01/2025 8:57:20 AM ******/
ALTER TABLE [GiaoVien].[CanBo] ADD UNIQUE NONCLUSTERED 
(
	[DienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_CMND]    Script Date: 17/01/2025 8:57:20 AM ******/
ALTER TABLE [SinhVien].[SinhVien] ADD  CONSTRAINT [U_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [SinhVien].[SinhVien] ([MaSV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([MaCBPhuTrach])
REFERENCES [GiaoVien].[CanBo] ([MaCB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [GiaoVien].[CanBo]  WITH CHECK ADD FOREIGN KEY([MaBM])
REFERENCES [dbo].[BoMon] ([MaBM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [SinhVien].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CHK_DiemTB] CHECK  (([DiemTB]>=(0) AND [DiemTB]<=(10)))
GO
ALTER TABLE [SinhVien].[SinhVien] CHECK CONSTRAINT [CHK_DiemTB]
GO
/****** Object:  StoredProcedure [dbo].[Insert_DangKy]    Script Date: 17/01/2025 8:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Insert_DangKy]
@MaSV char(7),
@MaMH char(5),
@SiSo int = null OUTPUT
AS
	SELECT @SiSo = SiSo FROM [dbo].[MonHoc] WHERE [MaMH] = @MaMH
	IF @SiSo < 80
		BEGIN
			INSERT [dbo].[DangKy]([MaSV], [MaMH])
			VALUES (@MaSV, @MaMH)
			SET @SiSo = @SiSo + 1
			RETURN 1
		END
	RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertMonHoc]    Script Date: 17/01/2025 8:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertMonHoc]
@temp_Table CT_MonHoc READONLY
AS
BEGIN
	INSERT MonHoc(MaMH,TenMH,MaCBPhuTrach)
	SELECT * FROM @temp_Table
END
GO
USE [master]
GO
